<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyrese.servicelib">
    <permission android:name="com.tyrese.servicelib.REMOTECALL_PERMISSION"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>